*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
p{
    padding: 30px;
    background-color: rgb(177, 156, 198);
}
@media screen and (min-width:400px) {
    p{
        padding: 20px;
     
    }
}
@media screen and (min-width:600px) {
    section{
        display: flex;
        flex-direction: row;
    }
    p{
        padding: 25px;  
    }
}
